.BuildConrols {
    width: 100%;
    background-color: coral;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.OrderButton{
color:white;
background-color: green;
border-radius: 10px;
}

 .OrderButton:hover, .OrderButton:active {
    color:black;
    background-color: rgba(0, 128, 0, 0.616);
    
}

.ClearButton{
    background-color: rgb(255, 0, 0);
    color:white;
    border-radius: 10px;
    margin-bottom: 5px;
}

 .ClearButton:hover, .ClearButton:active {
    color:black;
    background-color:rgba(255, 0, 0, 0.596);
}